<!DOCTYPE html>

<html>
    <header>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </header>
    <body>
        <div class="main_content">
            {{>header}}
            <p>This site is created by Siddhartha Panda. Language used :- NodeJS and absic Java Script</p>
            <img src="/img/img_avatar.png" alt="">
        </div>
        
        {{>footer}}
    </body>
</html>