<!DOCTYPE html>

<html>      
    <header>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
    </header>   
    <body>
        <div class="main_content">
        {{>header}}
        <p>Tis is the meesage from handlebasr :: {{message}}</p>
        </div>
        

        {{>footer}}
    </body>
</html>